<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn git</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="lessons.js"> </script>
    <link rel="stylesheet" href="style.css">
    <a href='https://pngtree.com/so/Cartoon'></a>

</head>

<body>
    <div id="app">
        <div class="main-container">
            <h1 v-text="sitename"></h1>
            <button class="cartBtn" v-if="cart < 1" disabled>
                <span class="fas fa-shopping-cart"></span>
                Shopping Cart {{cartItemCount}}
              </button>
            <button class="cartButton" v-else v-on:click="toggleShowProduct">
                <span class="fas fa-shopping-cart"></span>
                Shopping Cart {{cartItemCount}}
              </button>
              <div v-if="showProduct">
                <main>
                    <input type="text" v-model="searchInput" placeholder="Search">
                            
                    <div>
                        <p>Sort by</p>
                        <p>
                            <select name="sortBy" v-model="sortBy" >
                                <option>Sort</option>
                                <option value="subject">Subject</option>
                                <option value="location">Location</option>
                                <option value="price">Price</option>
                                <option value="availability">Avalibility</option>
                            </select>
                        </p>
                        <div class="arrangement">
                            <p>
                                <input type="radio" value="Ascending" id="ascending" v-model="progress" checked>
                                <label for="ascending">Ascending</label>
                            </p>
                            <p>
                                <input type="radio" value="Descending" id="descending" v-model="progress">
                                <label for="descending">Descending</label>
                            </p>
                            </div>
                        </div>

                        <main class="container">
                            <section class="paragraph" v-for="lesson in filterLessons()" :key="lesson.id">
                                <p class="subject" >Subject: {{lesson.subject}}</p>
                                <p class="location" >Location: {{lesson.location}}</p>
                                <p class="price">Price: &#163 {{lesson.price}}</p>
                                <p class="space">Spaces: {{lesson.space}}</p>
                                <img class="image" :src="lesson.img" alt="" /> 
                                <button class="add" v-on:click="addToCart(lesson)" v-if="canAddToCart" :disabled="lesson.space < 1">
                                <span class="fas fa-shopping-cart" ></span> Add to Cart</button>  
                                <button class="add" disabled="disabled" v-else> Add to Cart </button>
                            </section> 
                        </main>
    
                            <div v-if="filterLessons() == ''">
                                <div>
                                    <p><strong>{{searchInput}}</strong> Search not found</p>
                                </div>
                            </div>
                    </main>
                </div>
        </div>
    </div>
        
    






<script type="text/javascript">
    let  createApp = new Vue({
        el: '#app',
        data: {
                sitename: 'Lesson Hub',
                lessons: lessons,
                showProduct: true,
                cart: [],
                sortBy: 'Sort',
                progress: 'ascending',
                searchInput: '',
                name: '',
                number: ''
                
        }
    })
    </script>